{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Inicio' %}</a>
&rsaquo; {% trans 'Reestablecimiento de contraseña' %}
</div>
{% endblock %}

{% block title %}{% trans "Reestablecimiento de contraseña" %}{% endblock %}

{% block content %}

<h1>{% trans "Reestablecimiento de contraseña" %}</h1>

<p>{% trans "Olvidó su contraseña? Ingrese debdo su correo electrónico y le enviaremos las instrucciones para el registro de una nueva." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Correo electrónico:' %}</label> {{ form.email }} <input type="submit" value="{% trans Reestablecer de contraseña' %}" /></p>
</form>

{% endblock %}
