{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Inicio' %}</a>
&rsaquo; {% trans 'Reestablecimiento de contraseña' %}
</div>
{% endblock %}

{% block title %}{% trans 'Reestablecimiento de contraseña exitoso' %}{% endblock %}

{% block content %}

<h1>{% trans 'Reestablecimiento de contraseña exitoso' %}</h1>

<p>{% trans "Las instrucciones del registro de su nueva clave fueron enviadas a su e-mail. Debería recibirlas en breve." %}</p>

{% endblock %}
