{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}esta recibiendo este correo debido a la solicitud de reestablecimiento de la contraseña e su cuenta en {{ site_name }}.{% endblocktrans %}

{% trans "Por favor ingrese a la siguienye pagina e ingrese su nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Este es su usuario, por si lo hubiera olvidado:" %} {{ user.username }}

{% trans "Gracias por usar nuestra aplicación!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
