{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Inicio' %}</a>
&rsaquo; {% trans 'Confirmación de reestablecimiento de contraseña' %}
</div>
{% endblock %}

{% block title %}{% trans 'Reestablecer contraseña' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Ingresar nueva contraseña' %}</h1>

<p>{% trans "Por favor ingrese su contraseña 2 veces para verificar que haya sido escrita correctamente." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'Nueva contraseña:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirmar contraseña:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Cambiar contraseña' %}" /></p>
</form>

{% else %}

<h1>{% trans 'Reestablecimiento de contraseña fallido' %}</h1>

<p>{% trans "El link de reestablecimiento de contraseña es inválido, posiblemente debido a que ya fue usado.  Por favor solicite un nuevo reestablecimiento de contraseña." %}</p>

{% endif %}

{% endblock %}
