{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Inicio' %}</a>
&rsaquo; {% trans 'Reestablecimiento de contraseña' %}
</div>
{% endblock %}

{% block title %}{% trans 'Reestablecimiento de contraseña completo' %}{% endblock %}

{% block content %}

<h1>{% trans 'Reestablecimiento de contraseña completo' %}</h1>

<p>{% trans "Su contraseña ha sido registrada.  Puede continuar e iniciar sesión ahora." %}</p>

<p><a href="{{ login_url }}">{% trans 'Ingresar' %}</a></p>

{% endblock %}
