{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load url from future %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentación' %}</a> / {% endif %} {% trans 'Cambiar contraseña' %} / <a href="{% url 'admin:logout' %}">{% trans 'Cerrar sesión' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Inicio' %}</a>
&rsaquo; {% trans 'Cambiar contraseña' %}
</div>
{% endblock %}

{% block title %}{% trans 'Cambiar contraseña' %}{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count counter=form.errors.items|length %}Por favor corrija el siguiente error.{% plural %}Por favor corrija los siguientes errores.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Cambiar contraseña' %}</h1>

<p>{% trans "Ingrese su contraseña anterior  , y luego ingrese su nueva contraseña 2 veces para verificar que haya sido ingresada correctamente." %}</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Contraseña anterior' %}:</label>{{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'Nueva contraseña' %}:</label>{{ form.new_password1 }}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans 'Ingrese nuevamente la contraseña' %}:</label>{{ form.new_password2 }}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% trans 'Cambiar mi contraseña' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
